.stack-work/
.DS_Store
**/temp/*
.vscode


**/__pycache__/*
**/.mypy_cache/*
results
**/*_results
share
etc
dist
*.fdb_latexmk
*.fls
draft/paper.pdf


**/benchtool.egg-info
tool/build
tool/dist

bin/
/lib/**
**/_build/*


**/Coq/**/_qc_**
**/Coq/**.vo
**/Coq/**.vos
**/Coq/**.vok
**/Coq/**.glob
**/Coq/**.v.d
**/Coq/**.aux
**/Coq/**.native
**/Coq/**.ml
**/Coq/**.mli

tui

data/**